html {
    background-color: black;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

a, button, input, select {
    pointer-events: auto;
}
/*Viewing Style*/
.dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important; /* TODO Solve this in HTML */
}
p{
    font-size:20px;
}

.lhTxt{
    margin: auto;
    width: 20vw;
    height: 80vh;
    border-width: 0;
    border-right: 5px solid;
    border-image: linear-gradient(#000, #FFF, #000) 0 100% 0;
    position: absolute;
    padding: 20px;
    top:0;
    bottom: 0;
    left: 30px;
    display: none;
}
.rhTxt{
    margin: auto;
    width: 20vw;
    height: 80vh;
    padding: 20px;
    border-width: 0;
    border-left: 5px solid;
    border-image: linear-gradient(#000, #FFF, #000) 0 100% 0;
    position: absolute;
    top:0;
    bottom: 0;
    right: 30px;
    display: none;
}

.infoContent{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.AIMainLogo{
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
}

.addIcon{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    margin: 20px;
    width: 50px;
    height: 50px;
}

.qr{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#overlay {
    margin: 0;
    font-size: 16px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgb(0,0,0);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
    width: 10vw;
    margin-top: 5vh;
}

#notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
}

.mobInfo{
    display: none;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .AIMainLogo{
        top: 0;
        margin-top: 15px;
        width: 90vw;
    }
    .addIcon{
        display: block;
    }
    #overlay{
        height: 100%;
    }

    #overlay button {
        width: 100px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .mobInfo{
        display: block;
    }
    .lhTxt{
        display: none;
    }
    .rhTxt{
        display: none;
    }
}
/*Image taking Style*/
#camera{
    display: none;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.resetPos{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 0;
}

#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 0 2pt rgba(255,255,255,1);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}

.roundedButton{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 210px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 0 2pt rgba(255,255,255,1);
    position: fixed;
    bottom: 500px;
    left: calc(50% - 100px);
    pointer-events: auto;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,1);
    top: 20px;
    right: 20px;
    z-index: 2;
}

.success{
    transition: all 0.5s ease-in;
    right: -100px;
}

select{
    display: none;
}

video::-webkit-media-controls {
    display: none !important;
}
/*LOADING CSS*/

.loading{
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  margin: 20px;
  width: 50px;
  height: 50px;
}

.lds-roller {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  margin: 20px;
  width: 50px;
  height: 50px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 25px 25px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
