@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
#welcome{
    font-family: 'Open Sans', sans-serif;
    position: absolute; 
    text-align: center;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    background-color: black;
    z-index: 1;
    padding: 2em;
}
tt {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1em;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-weight: 600;
    color: white;
}

p {
    font-weight: 300;
    font-size: 1.1em;
    color: white;
}

i {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
    color: white
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 0 2pt rgba(255,255,255,1);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}

.roundedButton{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 210px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 0 2pt rgba(255,255,255,1);
    position: fixed;
    bottom: 500px;
    left: calc(50% - 100px);
    pointer-events: auto;
}

#status{
    display: none;
    width: 50px;
    white-space: pre;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 0 0 2pt rgba(255,255,255,1);
    position: fixed;
    top: 3%;
    left: 3%;
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,1);
    top: 20px;
    right: 20px;
    z-index: 2;
}

select{
    display: none;
}

video::-webkit-media-controls {
    display: none !important;
}

.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
}
.progress-bar .progress{
  height: 8px;
  background-color: #ff0000;
  width: 0;
}